@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Source+Code+Pro&family=Inter&display=swap');

@font-face {
  font-family: 'Neue', sans-serif;
  src: url(../public/neue-haas-grotesk-display/NeueHaasDisplayMediu.woff) format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Neue';
  src: url(../public/neue-haas-grotesk-display/NeueHaasDisplayBold.woff) format('woff');
  font-weight: bold;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chakra-ui-dark .selected {
  color: #38a169 !important;
}

.proj {
  position: relative;
}

.proj .desc {
  display: none;
}

.proj:hover .desc {
  display: flex;
}

::selection {
  background-color: #ffedc5;
  color: black;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 25px;
}
