@import url('https://fonts.googleapis.com/css2?family=Alata&family=Source+Code+Pro&?family=Quicksand&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif !important;

}

a {
  text-decoration: none !important;
}



main {
  flex: 1;
  min-height: 80vh;
  max-width: 1600px;
  margin: auto;
}

.chakra-ui-dark {
  background: #111216 !important;
}

h1,
h2,
h3 {
  font-family: 'Alata', sans-serif !important;
}

.proj {
  transition: all .2s ease-in;
}

.proj .desc {
  display: none;
}

.proj:hover .desc {
  display: flex;
}

::selection {
  background-color: #ffedc5;
  color: black;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column>div {
  margin-bottom: 25px;
}